{% extends 'borders.html' %}
{% block title %}Result{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="home-option">
                <div class="col-xs-12">
                    <div class="card card-outline-primary">
                        <p>Title:{{ document.document }}</p>
                        <p>This document is not check/analyze its plagiarism.</p>
                        <center>
                            <a href="/home/document_check?id={{document.docID}}" class="btn btn-outline-primary btn-inst"><p>CHECK IT</p></a>
                        </center>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}